<div class="col-md-3 col-sm-6">
    <div class="speaker_box">
        <div class="speaker_img">
            <img src="<%= data.primary_photo %>" alt="<%= data.name %>">
            <div class="info_box">
                <h5 class="name"><%= data.name %></h5>
                <p class="position"><%= data.type %></p>
            </div>
        </div>
        <div class="speaker_social">
            <p>
                <%= data.achievements %>
            </p>
            <ul>
                <li>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="ion-social-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>